# .gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
nordichomes_env/
*.sqlite3
*.sqlite
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.tar.gz
*.tar
*.sql
*.sqlite3
*.swp
.DS_Store
.env
.venv
.env/
.venv/
.myenv
myenv